.d-info {
    font-size: 0.24rem;
    color: #888F98;
    line-height: 0.3rem;
    margin-top: 0.3rem;
}
.infobor {
    margin: 0 0.3rem;
    color: #EAEAEA;
}
.d-intro {
    font-size: 0.24rem;
    padding: 0.4rem 0.3rem;
    background-color: #F5F8FA;
    line-height: 0.44rem;
    color: #888F98;
    margin-top: 0.3rem;
    word-break: break-all;
}
.d-cover {
    padding-bottom: 0.3rem;
    border-bottom: 0.02rem solid #EBEBEB;
}
.d-cover-text {
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #888F98;
}
.wsc-edit {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
    overflow: hidden;
}
.d-content {
    margin-top: 0;
}
.wsc-editTit {
    color: #04152C;
    margin-top: 0.4rem;
}
.wsc-editCon {
    margin-top: 0.24rem;
}
.wsc-edit .wsc-editCon a {
    color: #00429D;
}

/*问答列表*/
.list-faq .list-item {
    margin-top: 0.2rem;
    padding-bottom: 0;
    border-bottom: 0;
    background-color: #F5F8FA;
    padding: 0.4rem;
}
.list-faq .list-item:first-child {
    margin-top: 0;
}
.list-faq .list-tit {
    line-height: 0.42rem;
    color: #04152C;
    max-height: 0.42rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.42rem;
    display: block;
    padding-bottom: 0.24rem;
    border-bottom: 0.02rem dashed #EAEAEA;
}
.list-faq .list-text {
    margin-top: 0.2rem;
    color: #7A8189;
}
.list-faq .list-more {
    font-size: 0.24rem;
    display: block;
    margin-right: 0;
    color: #888F98;
    margin-top: 0.3rem;
    line-height: 0.3rem;
}
.list-faq .list-more a {
    padding-right: 0.22rem;
    background: url("../images/m-jt-12.png") no-repeat right center;
    background-size: 0.12rem auto;
}
/*新闻聚合*/
.layout-juhe {
    border-top: 0;
}
.news-head {
    margin-top: 0.3rem;
}
.newsh-list {
    width: 6.9rem;
}
.newsh-img {
    width: 6.9rem;
    height: 5.2rem;
    overflow: hidden;
}
.newsh-img img {
    width: 100%;
}
.newsh-info {
    background-color: #F8F9FD;
    padding: 0.4rem;
}
.newsh-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.52rem;
    max-height: 1.04rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newsh-time {
    font-size: 0.24rem;
    color: #888F98;
    line-height: 0.28rem;
    margin-top: 0.2rem;
}
.newsh-text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
    max-height: 0.96rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 0.2rem;
}
.news-head .picshowControl {
    top: 4.7rem;
    bottom: unset;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.picshowControl li {
    width: 0.16rem;
    height: 0.16rem;
    background: #FFFFFF;
    margin-left: 0.16rem;
    margin-right: 0;
    border: 0;
}
.picshowControl li:first-child {
    margin-left: 0;
}
.picshowControl .active {
    background-color: #00429D;
    border: 0;
}


.wsc-fg {
    background-color: #F8F9FD;
    padding: 0.5rem 0.3rem;
}
.wsc-news-gs {
    background:#FFFFFF;
    border: 0;
    padding: 0.4rem;
    overflow: hidden;
    margin-top: 0;
}
.wsc-news-gs .rlist-item {
    border-top: 0.02rem dashed #E5E5E5;
    line-height: 0.52rem;
    padding-right:0;
    box-sizing: border-box;
    margin-top: 0.3rem;
    padding-top: 0.3rem;
}
.wsc-news-gs .rlist-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border: 0;
}
.wsc-news-gs .rlist-tit {
    font-size: 0.32rem;
    color: #04152C;
    max-height: 1.04rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;
    width: 100%;
    float: none;
    white-space: unset;
}
.wsc-news-gs .rlist-time {
    font-size: 0.24rem;
    float: none;
    color: #888F98;
    width: auto;
    margin-right:0;
    text-align: left;
    margin-top: 0.2rem;
    line-height: 0.28rem;
}
.wsc-xm {
    padding: 0.5rem 0.3rem;
}
.wsc-pic {
    background-color: #F8F9FD;
    padding: 0.5rem 0.3rem;
}
.wsc-img .list-main2 {
    margin: -0.2rem -0.09rem 0;
}
.wsc-img .rlist-imgitem {
    padding: 0 0.09rem;
}
.wsc-img .rlist-img {
    border: 0;
    padding-bottom: 0.16rem;
    background: url(../images/m-pic-imgbg.png) no-repeat center bottom;
    background-size: 3.04rem;
}
.wsc-img .rlist-info {
    overflow: hidden;
    padding: 0.24rem 0.1rem 0;
    border: 0;
    border-top: 0;
}
.wsc-img .rlist-tit {
    font-size: 0.32rem;
    line-height: 0.52rem;
    color: #04152C;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;
    max-height: 1.04rem;
}
.wsc-item {
    padding: 0.5rem 0.3rem;
}

/*新闻列表*/
.news-mes {
    margin-top: 0.4rem;
    padding: 0.4rem;
    background: url("../images/m-news-mes.jpg") no-repeat center top;
    background-size: 6.9rem auto;
}
.news-mes-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.42rem;
    font-weight: bold;
}
.news-mes-text {
    margin-top: 0.2rem;
    color: #888F98;
    font-size: 0.24rem;
    line-height: 0.44rem;
}
.news-mes-link {
    margin-top: 0.3rem;
    color: #00429D;
    font-size: 0.28rem;
    line-height: 0.38rem;
}
/*新闻详情*/
.news-det .wsc-editCon {
    margin-top: 0.4rem;
}
/*文章列表*/
.artList .newsh-img {
    height: 3.9rem;
}
.artList .news-head .picshowControl {
    top: 3.4rem;
}
.artList .news-head .picshowControl li {
    background:rgba(255,255,255,0.5);
}
.artList .news-head .picshowControl .active {
    background:rgba(255,255,255,1);
}
.artList .newsh-info {
    background-color: #F5F8FA;
}
/*文章详情*/
.art-det .wsc-editCon {
    margin-top: 0.4rem;
}
/*下载列表*/
.list-down .list-item {
    margin-top: 0.2rem;
    padding-bottom: 0;
    border-bottom: 0;
    background-color: #F5F8FA;
    padding: 0.4rem;
    box-sizing: border-box;
}
.list-down .list-item:first-child {
    margin-top: 0;
}
.list-down .list-info {
    float: unset;
    width: 100%;
}
.list-down .list-link {
    margin-top: 0.4rem;
}
/*下载详情*/
.d-down {
    margin-top: 0.3rem;
}
.down-det .list-down {
    margin-top: 0.3rem;
}
/*技术标准查询*/
.tec-head {
    padding: 0.4rem 0.3rem;
}
.tecList .banTec-search .search-form {
    padding-right: 1rem;
}
.banTec-search .search-form {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.banTec-search .search-form form {
    padding-right: 1rem;
}
.banTec-search .search-form input {
    border: solid 0.02rem #EAEAEA;
    font-size: 0.25rem;
}
.banTec-search .search-btn {
    margin-right: -1rem;
    width: 1rem;
    height: 0.88rem;
    float: left;
    cursor: pointer;
    transition: 0.36s;
    background: #00429D url(../images/m-searchbut-ico.png) no-repeat center center;
    background-size: 0.33rem auto;
}
.banTec-qui {
    margin-top: 0.2rem;
    text-align: center;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.38rem;
}
.banTec-kf {
    color: #00429D;
}
.tec-main {
    background-color: #F5F8FA;
    padding: 0.3rem 0.3rem 0.5rem;
}
.list-tec .list-item {
    background-color: #FFFFFF;
}
.list-tec .list-top {
    height: 1.08rem;
    line-height: 1.08rem;
    border-bottom: 0.02rem solid #EBEBEB;
    padding: 0 0.3rem;
}
.list-tec .list-num {
    float: left;
    color: #62748E;
    font-size: 0.28rem;
}
.list-tec .list-icon {
    width: 0.44rem;
    height: 100%;
    float: right;
    background: url("../images/m-tec-icon.png") no-repeat center;
    background-size: 0.44rem;
}
.list-tec .list-icon a {
    display: block;
    width: 100%;
    height: 100%;
}
.list-tec .list-info {
    padding: 0.4rem 0.3rem;
    float: none;
    box-sizing: border-box;
}
.list-tec .list-tit {
    line-height: 0.48rem;
    font-size: 0.28rem;
    max-height: 0.96rem;
}
.list-tec .list-def {
    margin-top: 0.3rem;
}
.list-tec .list-ev {
    float: left;
    background-color: #F5F8FA;
    width: 2.06rem;
    height: 1.36rem;
    margin-left: 0.06rem;
    text-align: center;
}
.list-tec .list-ev:first-child {
    margin-left: 0;
}
.list-tec .list-dd {
    margin-top: 0.26rem;
    color: #888F98;
    font-size: 0.24rem;
    line-height: 0.32rem;
}
.list-tec .list-dt {
    margin-top: 0.2rem;
    color: #04152C;
    font-size: 0.28rem;
    line-height: 0.38rem;
}
.tec-ts {
    padding: 0.7rem 0;
    background: #F5F8FA url("../images/m-tec-ts.png") no-repeat center top;
    background-size: 2.8rem auto;
    padding-top: 0;
    margin-top: -0.3rem;
}
.tec-ts-tit {
    padding-top: 1.68rem;
    text-align: center;
    color: #04152C;
    font-size: 0.28rem;
    line-height: 0.38rem;
}


/*招聘聚合*/
.job-block1 {
    padding: 0.4rem 0.3rem 0.5rem;
}
.zg-tit {
    color: #04152C;
    font-size: 0.36rem;
    line-height: 0.48rem;
    text-align: center;
}
.zg-text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.44rem;
    margin-top: 0.3rem;
}
.job1-box {
    margin-top: 0.4rem;
}
.job1-list {
    background-color: #F5F8FA;
    margin-top: 0.2rem;
}
.job1-list:first-child {
    margin-top: 0;
}
.job1-img {
    width: 6.9rem;
    height: 2rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.job1-img img {
    width: 100%;
}
.job1-tit {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #FFFFFF;
    font-size: 0.32rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.job1-list:first-child .job1-tit span {
    padding-left: 0.75rem;
    background: url("../images/m-job1-icon1.png") no-repeat left center;
    background-size: 0.53rem auto;
}
.job1-tit span {
    padding-left: 0.68rem;
    background: url("../images/m-job1-icon2.png") no-repeat left center;
    background-size: 0.44rem auto;
}
.job1-info {
    padding: 0.4rem 0;
    text-align: center;
}
.job1-text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.38rem;
}
.job1-btn {
    margin-top: 0.32rem;
    text-align: center;
}
.job1-btn .btn {
    width: 3.6rem;
    border-radius: 0.08rem;
    font-size: 0.28rem;
}
.job-block2 {
    background-color:#F5F8FA;
    padding: 0.5rem 0.3rem;
}
.job2-box {
    margin-top: 0.3rem;
}
.job2-item {
    background-color: #fff;
    margin-top: 0.32rem;
}
.job2-item:first-child {
    margin-top: 0;
}
.job2-info {
    padding: 0.4rem 0.3rem;
}
.job2-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.42rem;
}
.job2-text {
    margin-top: 0.2rem;
    font-size: 0.28rem;
    line-height: 0.52rem;
    color: #7A8189;
}
.job2-dd {
    margin-top: 0.3rem;
    padding-top: 0.08rem;
    border-top: 0.02rem solid #EFEFEF;
    font-size: 0;
}
.job2-dt {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
    color: #888F98;
    line-height: 0.38rem;
    margin-top: 0.32rem;
}
.job2-dt:nth-child(2) {
    margin-left: 0.84rem;
}
.job2-dt span {
    padding-left: 0.42rem;
}
.job2-item:first-child .job2-dt span {
    padding-left: 0.4rem;
}
.job2-icon1 {
    background: url("../images/m-job2-icon1.png") no-repeat left center;
    background-size: 0.26rem auto;
}
.job2-icon2 {
    background: url("../images/m-job2-icon2.png") no-repeat left center;
    background-size: 0.26rem auto;
}
.job2-icon3 {
    background: url("../images/m-job2-icon3.png") no-repeat left center;
    background-size: 0.28rem auto;
}
.job2-icon4 {
    background: url("../images/m-job2-icon4.png") no-repeat left center;
    background-size: 0.32rem auto;
}
.job2-icon5 {
    background: url("../images/m-job2-icon5.png") no-repeat left center;
    background-size: 0.32rem auto;
}
.job2-icon6 {
    background: url("../images/m-job2-icon6.png") no-repeat left center;
    background-size: 0.3rem auto;
}
.job2-dt:first-child {
    margin-left: 0;
}
.job2-img {
    width: 6.9rem;
    height: 3.4rem;
    overflow: hidden;
}
.job2-img img {
    width: 100%;
}
.job-block3 {
    padding: 0.6rem 0.7rem 0.6rem;
}
.job3-box {
    margin-top: 0.64rem;
}
.job3-list {
    float: left;
    font-size: 0.28rem;
    color: #545454;
    line-height: 0.38rem;
    text-align: center;
    font-weight: bold;
}
.job3-list span {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0.2rem;
}
.job3-icon1 {
    background: url("../images/m-job3-icon1.png") no-repeat center top;
    background-size: 1.2rem auto;
}
.job3-icon2 {
    background: url("../images/m-job3-icon2.png") no-repeat center top;
    background-size: 1.2rem auto;
}
.job3-icon4 {
    background: url("../images/m-job3-icon4.png") no-repeat center top;
    background-size: 1.2rem auto;
}
.job3-icon5 {
    background: url("../images/m-job3-icon5.png") no-repeat center top;
    background-size: 1.2rem auto;
}
.job3-icon6 {
    background: url("../images/m-job3-icon6.png") no-repeat center top;
    background-size: 1.2rem auto;
}
.job3-main em {
    float: left;
    display: block;
    width: 0.26rem;
    height: 1.2rem;
    margin: 0 0.48rem;
    background: url("../images/m-job3-jt.png") no-repeat center center;
    background-size: 0.26rem;
}
.job3-main {
    margin-top: 0.62rem;
}
.job3-main:first-child {
    margin-top: 0;
}
.job-block4 {
    padding: 0.6rem 0.3rem;
    background-color: #F5F8FA;
}
.job4-text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.52rem;
    margin-top: 0.3rem;
}
.job4-btn {
    margin-top: 0.42rem;
}
.job4-btn .btn {
    font-size: 0.28rem;
    border-radius: 0.08rem;
}
.job4Text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.52rem;
    margin-top: 0.6rem;
}
.job4Btn {
    margin-top: 0.4rem;
}
.job4Btn .btn {
    font-size: 0.28rem;
}
/*招聘列表*/
.jobL-main {
    padding: 0.56rem 0.3rem 0;
}
.jobL-box {
    background-color: #F5F8FA;
}
.jobL-img {
    width: 6.9rem;
    height: 2.8rem;
    overflow: hidden;
    position: relative;
}
.jobL-img img {
    width: 100%;
}
.jobL-tit {
    width: 100%;
    position: absolute;
    height: 0.5rem;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 0.5rem;
    font-size: 0.32rem;
}
.jobL-tit span {
    padding-left: 0.68rem;
    background: url(../images/m-job1-icon1.png) no-repeat left center;
    background-size: 0.53rem auto;
}
.jobL-tit2 span {
    padding-left: 0.68rem;
    background: url(../images/m-job1-icon2.png) no-repeat left center;
    background-size: 0.44rem auto;
}
.jobL-info {
    padding: 0.4rem;
}
.jobL-text {
    text-align: center;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.38rem;
}
.jobL-btn {
    margin-top: 0.32rem;
}
.jobL-btn .btn {
    font-size: 0.28rem;
    border-radius:0.08rem;
}
.jobList .layout-content {
    padding-top: 0.3rem;
}
.list-job .list-item {
    background-color: #F5F8FA;
    margin-top: 0.2rem;
    padding: 0.4rem;
    box-sizing: border-box;
    border-bottom: 0;
}
.list-job .list-item:first-child {
    margin-top: 0;
}
.list-job .rlist-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.42rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 0.42rem;
}
.list-job .list-info {
    padding-top: 0.1rem;
    margin-top: 0.3rem;
    border-top: 0.02rem solid #EFEFEF;
    float: none;
}
.list-job .list-dd {
    float: left;
    width: 40%;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.38rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.2rem;
}
.list-job .list-dd:first-child {
    width: 60%;
}
.list-job .list-dd:nth-child(3) {
    width: 60%;
}
.list-job .list-time {
    margin-top: 0.3rem;
}
.job-mes {
    padding: 0.5rem 0.3rem;
    background-color:  #F8F9FD;
}
.jobm-main {
    background: url("../images/m-jobm-bg.jpg") no-repeat center top;
    background-size: cover;
    padding: 0.5rem 0.4rem;
}
.jobm-tit {
    color: #04152C;
    font-size: 0.3rem;
    line-height: 0.4rem;
    font-weight: bold;
}
.jobm-text {
    color: #7A8189;
    font-size: 0.28rem;
    margin-top: 0.3rem;
    line-height: 0.52rem;
}
.jobm-btn {
    margin-top: 0.3rem;
}
.jobm-btn .btn {
    width: 4.92rem;
    border-radius:0.08rem;
    font-size: 0.28rem;
}
/*招聘详情*/
.d-job-info {
    margin-top: 0.1rem;
}
.d-job-per {
    float: left;
    margin-right: 0.8rem;
    font-size: 0.28rem;
    line-height: 0.38rem;
    color: #7A8189;
    margin-top: 0.2rem;
}
.d-job-time {
    color: #888F98;
    font-size: 0.24rem;
    line-height: 0.32rem;
    margin-top: 0.3rem;
}
.d-job-btn {
    margin-top: 0.5rem;
}
.d-job-btn .btn {
    border-radius:0.08rem;
    font-size: 0.28rem;
}
.jobDet .d-index {
    padding-bottom: 0.5rem;
    border-bottom: 0.02rem #EAEAEA dotted;
}
.dj-head .d-tit {
    float: left;
}
.dj-money {
    padding-left: 0.4rem;
    margin-left: 0.4rem;
    background: url("../images/dj-line.jpg") no-repeat left center;
    background-size: 0.02rem 0.4rem;
}
/*热门招聘*/
.wsc-job {
    padding: 0.5rem 0.3rem;
}
.wsc-job .rlist-style3 {
    padding: 0;
    overflow: hidden;
    margin-top: 0.36rem;
}
.wsc-job .rListCon {
    margin: -0.2rem 0 0 0;
}
.wsc-job .rlist-imgitem {
    width: 100%;
    float: none;
    box-sizing: border-box;
    background-color: #F5F8FA;
    padding: 0.4rem;
    margin-top: 0.2rem;
}
.wsc-job .rlist-info {
    padding: 0;
    border: 0;
}
.wsc-job .list-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.42rem;
    height: 0.42rem;
    max-height: 0.42rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.wsc-job .rlist-text {
    padding-top: 0.3rem;
    margin-top: 0.3rem;
    border-top: 0.02rem dashed #EBEBEB;
}
.wsc-job .rlist-dd {
    float: left;
    font-size: 0.28rem;
    line-height: 0.38rem;
    color: #7A8189;
}
.wsc-job .rlist-time {
    float: right;
    font-size: 0.28rem;
    line-height: 0.38rem;
    color: #7A8189;
}
/*案例列表*/
.caseList .news-head {
    margin-top: 0;
}
.caseList .newsh-img {
    height: 3.9rem;
}
.caseList .news-head .picshowControl {
    top: 3.4rem;
}
.caseList .news-head .picshowControl li {
    background:rgba(255,255,255,0.5);
}
.caseList .news-head .picshowControl .active {
    background:rgba(255,255,255,1);
}
.caseList .newsh-info {
    background-color: #F5F8FA;
}
.caseb1-box-text {
    margin-top: 0.3rem;
}
.caseb1-box-text p {
    color: #888F98;
    font-size: 0.24rem;
    line-height: 0.32rem;
    margin-top: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.caseb1-box-text p:first-child {
    margin-top: 0;
}
.case-list {
    margin-top: 0.2rem;
}
.case-list .lMain {
    margin-top: 0;
}
.case-list .lMain .list-main2 {
    margin: -0.2rem -0.09rem 0;
}
.case-list .list-item2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin-top: 0.2rem;
    padding: 0 0.09rem;
}
.case-list .list-img2 {
    border: 0;
}
.case-list .list-info2 {
    background-color: #F8F9FD;
    overflow: hidden;
    padding: 0.2rem;
    border: 0;
    border-top: 0;
}
.case-list .list-info2 .list-tit2 {
    color: #04152C;
}
.wsc-sol {
    background-color: #F5F8FA;
    padding: 0.5rem 0.3rem;
}
.wsc-sol-tit {
    font-size: 0.36rem;
    color: #04152c;
    line-height: 0.48rem;
    text-align: center;
}
.wsc-sol-text {
    font-size: 0.28rem;
    color: #7a8189;
    line-height: 0.44rem;
    margin-top: 0.3rem;
}
.wsc-sol-btn {
    margin-top: 0.4rem;
}
.wsc-sol-btn .btn {
    border-radius:0.08rem;
    font-size: 0.28rem;
}
.wsc-sol-box {
    margin-top: 0.4rem;
}
.wsc-sol-list {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 0.2rem;
}
.wsc-sol-list:first-child {
    margin-top: 0;
}
.wsc-sol-img {
    width: 6.9rem;
    height: 2.6rem;
    overflow: hidden;
}
.wsc-sol-img img {
    width: 100%;
}
.wsc-sol-info {
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.wsc-sol-link {
    padding: 0 0.3rem;
}
.wsc-sol-dd {
    float: left;
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 0.9rem;
}
.wsc-sol-link i {
    float: right;
    width: 0.32rem;
    height: 0.9rem;
    background: url("../images/m-more-white.png") no-repeat center;
    background-size: 0.32rem auto;
}
/*案例详情*/

.caseDet-tit {
    font-size: 0.4rem;
    color: #04152c;
    line-height: 0.6rem;
    font-weight: bold;
}
.caseDet-def {
    margin-top: 0.4rem;
    background-color: #FFFFFF;
}
.caseDet-img {
    width: 6.9rem;
    height: 3.9rem;
    overflow: hidden;
}
.caseDet-img img {
    width: 100%;
}
.caseDet-info {
    padding: 0.4rem 0.3rem;
    border: 0.02rem solid #EFEFEF;
    border-top: 0;
}
.caseDet-text {
    margin-top: 0.2rem;
    font-size: 0.28rem;
    line-height: 0.56rem;
    color: #7A8189;
}
.caseDet-text p a {
    color: #00429D;
    padding-left: 0.4rem;
    background: url("../images/m-zx-icon.png") no-repeat left center;
    background-size: 0.31rem auto;
    margin-left: 0.5rem;
}
.caseDet-btn {
    margin-top: 0.4rem;
}
.caseDet-btn .btn-red {
    font-size: 0.28rem;
    border-radius: 0.08rem;
}
.caseDet .wsc-editTit strong {
    padding-left: 0.2rem;
    background: url("../images/m-tit-line.png") no-repeat left center;
    background-size: 0.06rem auto;
}
.caseDet .wsc-edit {
    margin-top: 0.3rem;
    border-top: 0.02rem #EAEAEA dotted;
}
.caseDet .wsc-edit:first-child {
    margin-top: 0;
    border-top: 0;
}
.caseDet .ser-det {
    padding: 0;
    margin-top: 0.4rem;
}
.caseDet .case-list {
    margin-top: 0.4rem;
}
.caseDet .lMain {
    margin-top: 0.3rem;
}
.sol-list .list-item {
    margin-top: 0.2rem;
    padding: 0.2rem;
    background-color: #f8f9fd;
    border-bottom: 0;
}
.sol-list .list-item:first-child {
    margin-top: 0;
}
.sol-list .list-picitem {
    padding-left: 3.3rem;
}
.sol-list .list-picitem .list-img {
    float: left;
    margin-left: -3.1rem;
    width: 2.8rem;
    overflow: hidden;
}
.sol-list .list-tit {
    margin-top: 0.1rem;
    font-size: 0.28rem;
    line-height: 0.38rem;
    height: 0.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.sol-list .list-text {
    font-size: 0.24rem;
    line-height: 0.44rem;
    margin-top: 0.2rem;
    color: #888F98;
    max-height: 0.88rem;
    height: 0.88rem;
}
/*解决方案列表*/
.sol-def {
    padding: 0.4rem;
}
.sol-bg1 {
    background: url("../images/m-sol-bg1.jpg") no-repeat center top;
    background-size: cover;
}
.sol-bg2 {
    background: url("../images/m-sol-bg2.jpg") no-repeat center top;
    background-size: cover;
}
.sol-bg3 {
    background: url("../images/m-sol-bg3.jpg") no-repeat center top;
    background-size: cover;
}
.sol-def-tit {
    font-size: 0.36rem;
    line-height: 0.48rem;
    color: #04152c;
}
.sol-def-text {
    margin-top: 0.3rem;
    color: #7a8189;
    font-size: 0.28rem;
    line-height: 0.44rem;
}
.sol-def-btn {
    margin-top: 0.4rem;
}
.sol-def-btn .btn {
    border-radius:0.08rem;
    font-size: 0.28rem;
}
.sol-main {
    margin-top: 0.5rem;
}
.sol-main .list-main2 {
    margin: -0.2rem 0 0 0;
}
.sol-main .list-item2 {
    width: 100%;
    float: none;
    box-sizing: border-box;
    background-color: #F5F8FA;
    padding: 0.4rem 0.3rem;
    margin-top: 0.2rem;
}
.sol-main .list-img2 {
    border: 0;
}
.sol-main .list-info2 {
    padding: 0.4rem 0 0 0;
    border: 0;
    border-top: 0;
}
.sol-main .list-info2 .list-tit2 {
    font-size: 0.32rem;
    line-height: 0.42rem;
    color: #04152C;
    height: 0.42rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.sol-main .list-text2 {
    margin-top: 0.3rem;
    color: #888F98;
    font-size: 0.28rem;
    line-height: 0.44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 0.88rem;
}
.sol-main .list-btn2 {
    margin-top: 0.3rem;
    font-size: 0;
}
.sol-main .list-btn2 .btn {
    width: 3.1rem;
    font-size: 0.28rem;
}
.sol-main .list-btn2 .btn-greybd {
    margin-left: 0.1rem;
}
/*推荐案例*/
.rec-case {
    background-color: #F5F8FA;
    padding: 0.5rem 0.3rem;
}
.rec-case .case-list {
    margin-top: 0;
}
.rec-case .lMain {
    margin-top: 0.3rem;
}
.rec-case .case-list .list-info2 {
    background-color: #FFFFFF;
}
/*解决方案详情*/
.sol-banner {
    padding: 0.6rem 0.4rem;
}
.solban {
    color: #FFFFFF;
}
.solbanTit {
    font-size: 0.4rem;
    line-height: 0.52rem;
    text-align: center;
    font-weight: normal;
}
.solbanText {
    margin-top: 0.3rem;
    font-size: 0.28rem;
    line-height: 0.44rem;
}
.solbanBtn {
    margin-top: 0.5rem;
}
.solbanBtn .btn {
    font-size: 0.28rem;
}
.pd-main {
    padding-top: 0.98rem;
}
.pdTab-box {
    height: 0.98rem;
    background-color: #F5F8FA;
}
.pdTab {
    height: 0.98rem;
    background-color: #F5F8FA;
}
.pdTab li {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    background: url("../images/m-pd-line.png") no-repeat left center;
    background-size: 0.02rem auto;
    border: 0;
    line-height: 0.98rem;
}
.pdTab li:first-child {
    background-image: none;
}
.pdTab li a {
    display: block;
    height: 100%;
    padding: 0 0.4rem;
    color: #888F98;
    transition: 0.3s;
    font-size: 0.28rem;
}
.pdTab .active span {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.06rem;
    width: 100%;
    background-color: #00429D;
}
.pdTab .active {
    background-color: #fff;
    background-image: none;
}
.pdTab .active + li {
    background-image: none;
}
.solDet .wsc-editTit strong {
    padding-left: 0.2rem;
    background: url("../images/m-tit-line.png") no-repeat left center;
    background-size: 0.06rem auto;
}
.solDet .wsc-edit {
    margin-top: 0.3rem;
    border-top: 0.02rem #EAEAEA dotted;
}
.solDet .wsc-edit:first-child {
    margin-top: 0;
    border-top: 0;
}
.wsc-editCon tr:first-child td {
    background:linear-gradient(180deg,rgba(223,231,233,0.5) 0%,rgba(223,231,233,0.5) 100%);
}
.solDet .wsc-edit thead tr td {
    background: #3d7cbb;
    color: rgba(255,255,255,1);
}
.wsc-editCon tr td {
    background-color: #F5F8FA;
}
.solDet .ser-det {
    padding: 0;
    margin-top: 0.4rem;
}
.solDet .case-list {
    margin-top: 0.4rem;
}
.solDet .lMain {
    margin-top: 0.3rem;
}
/*产品聚合*/
.pro-search {
    padding: 0.4rem 0.3rem;
    background-color: #F5F8FA;
}
.hot-search {
    margin-top: 0.2rem;
}
.hot-search {
    font-size: 0.24rem;
    line-height: 0.32rem;
    color: #888F98;
}
.hot-tit2 {
    padding-left: 0.4rem;
    background: url(../images/m-hot-icon.png) no-repeat left center;
    background-size: 0.21rem auto;
}
.hot-search a {
    margin: 0 0.1rem;
}
.hot-btn {
    margin-top: 0.4rem;
    font-size: 0;
}
.hot-btn .btn {
    width: 3.4rem;
    font-size: 0.28rem;
}
.hot-btn .btn:first-child {
    margin-right: 0.1rem;
}
.pro-main {
    padding: 0.4rem 0.3rem 0.5rem;
}
.pro-main .p1 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
.pro-main .p2 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
    display: none;
}
.pro-main .a-text {
    color: #00429D;
    margin-left: 0.2rem;
}
.pro-main .wsc-ser {
    padding: 0;
}
.pro-main .p3 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
.pro-main .p4 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
    display: none;
}
.pro-main .p5 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
.pro-main .p6 {
    width: 100%;
    margin-top: 0.3rem;
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.48rem;
    display: none;
}
.pl-head {
    padding: 0.24rem 0.3rem 0;
}
.pl-head-box {
    background-color: #F5F8FA;
}
.pl-head-img {
    width: 6.9rem;
    height: 2.68rem;
    overflow: hidden;
}
.pl-head-img img {
    width: 100%;
}
.pl-head-info {
    padding: 0.4rem 0.3rem;
}
.pl-head-tit {
    color: #04152C;
    font-size: 0.32rem;
    line-height: 0.42rem;
    text-align: center;
}
.pl-head-text {
    margin-top: 0.2rem;
    color: #888F98;
    font-size: 0.28rem;
    line-height: 0.48rem;
}
.pl-head-btn {
    margin-top: 0.4rem;
    font-size: 0;
}
.pl-head-btn .btn {
    width: 3.1rem;
    font-size: 0.28rem;
}
.pl-head-btn .btn:first-child {
    margin-right: 0.1rem;
}
.pl-main .wsc-ser {
    padding: 0.3rem 0.3rem 0.5rem;
}
.pl-main .wsc-ser .rlist-style3 {
    margin-top: 0;
}
/*产品二级列表*/
.proList-banner {
    height: 3.16rem;
    width: 100%;
}
.proList-main {
    padding: 0 0.3rem;
}
.proList-head {
    margin-top: -2.44rem;
    width: 100%;
    background-color: #fff;
    padding: 0.4rem;
    box-sizing: border-box;
    box-shadow:0px 6px 12px rgba(0,0,0,0.08);
}
.proList-head-tit {
    color: #04152C;
    font-size: 0.36rem;
    line-height: 0.48rem;
    font-weight: bold;
}
.proList-head-text {
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #888F98;
    margin-top: 0.3rem;
}
.proList-head-def {
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #888F98;
    margin-top: 0.2rem;
}
.proList-head-def span {
    font-weight: bold;
}
.proList-head-btn {
    margin-top: 0.5rem;
    font-size: 0;
}
.proList-head-btn .btn {
    width: 3rem;
    font-size: 0.28rem;
}
.proList-head-btn .btn:first-child {
    margin-right: 0.1rem;
}
.proList .wsc-ser {
    padding: 0.38rem 0.3rem 0.5rem;
}
.ser-adv {
    padding: 0 0.3rem 0.5rem;
}
.ser-adv .ser-adv-head {
    padding-top: 0.4rem;
    border-top: 0.02rem dotted #EAEAEA;
}

.ser-box {
    padding: 0.38rem 0.4rem 0.4rem;
    background: url("../images/m-ser-bg.jpg") no-repeat center top;
    background-size: cover;
}
.ser-box-tit {
    font-size: 0.32rem;
    color: #04152C;
    font-weight: bold;
    line-height: 0.74rem;
    height: 0.74rem;
    padding-left: 0.8rem;
    background: url("../images/m-ser-icon.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-box-text {
    margin-top: 0.4rem;
    border-top: 0.02rem dashed #EBEBEB;
    padding-top: 0.4rem;
}
.ser-box-text p {
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #62748E;
    margin-top: 0.2rem;
}
.ser-box-text p:first-child {
    margin-top: 0;
}
.ser-box-text p em {
    width: 5.76rem;
    float: left;
}
.ser-box-text p span {
    margin-top: 0.16rem;
    float: left;
    width:0.12rem;
    height:0.12rem;
    background:rgba(179,179,179,1);
    border-radius:50%;
    margin-right: 0.2rem;
    vertical-align: middle;
}
.ser-box-main {
    margin-top: 0.4rem;
}
.ser-box-item {
    margin: -0.18rem -0.09rem 0;
}
.ser-box-list {
    width: 2.96rem;
    float: left;
    box-sizing: border-box;
    margin: 0.18rem 0.09rem 0;
    height: 1.6rem;
    background-color: #fff;
}
.ser-box-def {
    background-color: #fff;
}
.ser-box-img {
    width: 100%;
    height: 1.12rem;
}
.ser-box-list1 {
    background: url("../images/m-ser-bimg1.png") no-repeat center 0.3rem;
    background-size: 1.12rem auto;
}
.ser-box-list2 {
    background: url("../images/m-ser-bimg2.png") no-repeat center 0.24rem;
    background-size: 0.94rem auto;
}
.ser-box-list3 {
    background: url("../images/m-ser-bimg3.png") no-repeat center 0.18rem;
    background-size: 1.38rem auto;
}
.ser-box-list4 {
    background: url("../images/m-ser-bimg4.png") no-repeat center 0.18rem;
    background-size: 0.94rem auto;
}
.ser-boxTit {
    color: #828282;
    font-size: 0.28rem;
    line-height: 0.32rem;
    text-align: center;
}
.ser-mian {
    margin-top: 0.32rem;
}
.ser-list {
    width: 100%;
    background-color: #F8F9FD;
    padding: 0.4rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
}
.ser-tit {
    font-size: 0.32rem;
    color: #04152C;
    line-height: 0.6rem;
    text-align: center;
}
.ser-tit span {
    display: inline-block;
    padding-left: 0.8rem;
}
.ser-tit01 span {
    background: url("../images/m-ser-tit01.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-tit02 span {
    background: url("../images/m-ser-tit02.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-tit03 span {
    background: url("../images/m-ser-tit03.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-tit04 span {
    background: url("../images/m-ser-tit04.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-tit05 span {
    background: url("../images/m-ser-tit05.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-tit06 span {
    background: url("../images/m-ser-tit06.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.ser-text {
    font-size: 0.28rem;
    color: #7A8189;
    line-height: 0.48rem;
    margin-top: 0.2rem;
}
/*产品详情*/
.proDet-img {
    width: 6.9rem;
    height: 2.64rem;
    overflow: hidden;
}
.proDet-img img {
    width: 100%;
}
.proDet-info {
    border:0.02rem solid rgba(235,235,235,1);
    border-top: 0;
    padding: 0.32rem 0.3rem;
}
.proDet-tit {
    color: #04152C;
    font-size: 0.36rem;
    line-height: 0.48rem;
    font-weight: bold;
}
.proDet-text {
    color: #7A8189;
    font-size: 0.28rem;
    line-height: 0.38rem;
    margin-top: 0.16rem;
}
.proDet-art {
    color: #7A8189;
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin-top: 0.3rem;
}
.proDet-art span {
    font-weight: bold;
}
.proDet-btn {
    margin-top: 0.4rem;
    font-size: 0;
}
.proDet-btn .btn {
    width: 3.06rem;
    font-size: 0.28rem;
}
.proDet-btn .btn:first-child {
    margin-right: 0.12rem;
}
.proDet .wsc-editTit strong {
    padding-left: 0.2rem;
    background: url("../images/m-tit-line.png") no-repeat left center;
    background-size: 0.06rem auto;
}
.proDet .wsc-edit {
    margin-top: 0.3rem;
    border-top: 0.02rem #EAEAEA dotted;
}
.proDet .wsc-edit:first-child {
    margin-top: 0;
    border-top: 0;
}
.solDet .case-list {
    margin-top: 0.4rem;
}
.proDet .lMain {
    margin-top: 0.3rem;
}
.proDet .ser-adv {
    padding: 0;
    margin-top: 0.3rem;
}
.proDet .ser-det {
    padding: 0;
    margin-top: 0.4rem;
}
.proDet .wsc-edit thead tr td {
    background: #3d7cbb;
    color: rgba(255,255,255,1);
}

/*服务网络详情页*/
.netDet-head {
    background-color: #F5F8FA;
    padding: 0.4rem 0.3rem;
}
.netDet-tit {
    color: #04152C;
    font-size: 0.36rem;
    line-height: 0.6rem;
}
.netDet-text {
    margin-top: 0.2rem;
    color: #62748E;
    font-size: 0.28rem;
    font-weight: bold;
}
.netDet-btn {
    margin-top: 0.08rem;
}
.netDet-btn ul li {
    display: inline-block;
    border:0.02rem solid rgba(231,234,239,1);
    border-radius:0.04rem;
    height: 0.6rem;
    line-height:0.6rem;
    padding: 0 0.2rem;
    margin-right: 0.12rem;
    margin-top: 0.12rem;
    color: #62748E;
    font-size: 0.24rem;
}
.netDet .wsc-editTit strong {
    padding-left: 0.2rem;
    background: url("../images/m-tit-line.png") no-repeat left center;
    background-size: 0.06rem auto;
}
.netDet .wsc-edit {
    margin-top: 0.3rem;
    border-top: 0.02rem #EAEAEA dotted;
}
.netDet .wsc-edit:first-child {
    margin-top: 0;
    border-top: 0;
}
.wsc-cont {
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    border-top: 0.02rem #EAEAEA dotted;
}
.wsc-cont-mian {
    margin-top: 0.3rem;
}
.wsc-cont-list {
    float: left;
    width: 3.36rem;
    background-color: #F5F8FA;
    padding: 0.4rem;
    box-sizing: border-box;
    margin-left: 0.18rem;
}
.wsc-cont-list:first-child {
    margin-left: 0;
}
.wsc-cont-dd {
    font-size: 0.24rem;
    line-height: 0.34rem;
    color: #62748E;
}
.wsc-cont-dd01 {
    padding-left: 0.42rem;
    background: url("../images/m-cont-dd01.png") no-repeat left center;
    background-size: 0.26rem auto;
}
.wsc-cont-dd02 {
    padding-left: 0.39rem;
    background: url("../images/m-cont-dd02.png") no-repeat left center;
    background-size: 0.23rem auto;
}
.wsc-cont-dd03 {
    padding-left: 0.36rem;
    background: url("../images/m-cont-dd03.png") no-repeat left center;
    background-size: 0.2rem auto;
}
.wsc-cont-dt {
    margin-top: 0.24rem;
    font-size: 0.32rem;
    line-height: 0.34rem;
    color: #00429D;
}
.wsc-cont-site {
    margin-top: 0.18rem;
    background-color: #F5F8FA;
    padding: 0.4rem;
}
.wsc-cont-add {
    margin-top: 0.18rem;
    color: #62748E;
    font-size: 0.32rem;
    line-height: 0.42rem;
}
.wsc-cont-btn {
    margin-top: 0.3rem;
}
.wsc-cont-btn .btn {
    border-radius:0.08rem;
    font-size: 0.28rem;
}